/*select*/

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #cef;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}


.sr-cart-country {
  background: transparent;
  border: 1px solid #E5E5E5;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px; 
  border-radius: 30px; 
  box-shadow: 0 0 10px #E8E8E8 inset;
  outline:0; 
  height:25px; 
  width: 275px; 
  padding-left:10px; 
  padding-right:10px; 
  float: right;
  width: 74%;
}


.sr-cart .sr-quantity label {
  display: inline-block;
  margin-right: .3em;
}
/*

/*end select*/

/*text box*/
.sr-textbox { 
    border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:25px; 
    width: 275px; 
    padding-left:10px; 
    padding-right:10px; 
    float: right;
    width: 70%;
  } 

 /*end textbox*/
.sr-cart-container {
  font-size: 62.5%;
  font-family: "Source Sans Pro", sans-serif;
  color: #2b3e51;
  background-color: #ecf0f1; 
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
  -moz-osx-font-smoothing: grayscale;
}

.sr-cart-container img {
    max-width: 100%;
}

.sr-cart-container h1 {
  font-size: 2rem;
  padding: 3em 0 .8em;
}

.sr-button {
  display: inline-block;
  padding: 0.2em 0.8em;
  background: #2c97de;
  border-radius: 50em;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: .1em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s;
  transition: all .2s;
}
.sr-button:hover {
  background: #42a2e1;
}
.sr-button:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
/* -------------------------------- 

Main Components 

-------------------------------- */
.sr-cart-container::before {
  /* dark bg layer visible when the cart is open */
  content: '';
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .4s, visibility .4s;
  transition: opacity .4s, visibility .4s;
}

.sr-cart-container.cart-open::before {
  opacity: 1;
  visibility: visible;
}

.sr-cart-trigger,
.sr-cart {
  position: fixed;
  bottom: 20px;
  right: 5%;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  will-change: transform;
  backface-visibility: hidden;
}
.empty .sr-cart-trigger, .empty
.sr-cart {
  /* hide cart */
  -webkit-transform: translateY(150px);
      -ms-transform: translateY(150px);
          transform: translateY(150px);
}
@media only screen and (min-width: 1170px) {
  .sr-cart-trigger,
  .sr-cart {
    bottom: 40px;
  }
}

.sr-cart-trigger {
  /* button that triggers the cart content */
  z-index: 3;
  height: 72px;
  width: 72px;
  /* replace text with image */
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}
.sr-cart-trigger::after, .sr-cart-trigger::before {
  /* used to create the cart/'X' icon */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  height: 100%;
  width: 100%;
  background: url(../img/sr-icons-cart-close.svg) no-repeat 0 0;
  -webkit-transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, transform .2s;
  transition: opacity .2s, transform .2s, -webkit-transform .2s;
}
.sr-cart-trigger::after {
  /* 'X' icon */
  background-position: -72px 0;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
          transform: translateX(-50%) translateY(-50%) rotate(90deg);
}
.cart-open .sr-cart-trigger::before {
  opacity: 0;
}
.cart-open .sr-cart-trigger::after {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.sr-cart-trigger .sr-count {
  /* number of items indicator */
  position: absolute;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10px;
  right: -10px;
  height: 28px;
  width: 28px;
  background: #e94b35;
  color: #ffffff;
  font-weight: bold;
  border-radius: 50%;
  text-indent: 2px;
  -webkit-transition: -webkit-transform .2s .5s;
  transition: -webkit-transform .2s .5s;
  transition: transform .2s .5s;
  transition: transform .2s .5s, -webkit-transform .2s .5s;
}
.sr-cart-trigger .sr-count li {
  /* this is the number of items in the cart */
  position: absolute;
  
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.sr-cart-trigger .sr-count li:last-of-type {
  visibility: hidden;
}
.sr-cart-trigger .sr-count.update-count li:last-of-type {
  -webkit-animation: sr-qty-enter .15s;
          animation: sr-qty-enter .15s;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}
.sr-cart-trigger .sr-count.update-count li:first-of-type {
  -webkit-animation: sr-qty-leave .15s;
          animation: sr-qty-leave .15s;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}
.cart-open .sr-cart-trigger .sr-count {
  -webkit-transition: -webkit-transform .2s 0s;
  transition: -webkit-transform .2s 0s;
  transition: transform .2s 0s;
  transition: transform .2s 0s, -webkit-transform .2s 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.empty .sr-cart-trigger .sr-count {
  /* fix bug - when cart is empty, do not animate count */
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.sr-cart-trigger:hover + div .sr-wrapper {
  box-shadow: 0 6px 40px rgba(0, 0, 0, 0.3);
}
.cart-open .sr-cart-trigger:hover + div .sr-wrapper {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
}

.sr-cart {
  /* cart content */
  z-index: 2;
  width: 90%;
  max-width: 440px;
  height: 400px;
  max-height: 90%;
  pointer-events: none;
}
.sr-cart .sr-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
  height: 72px;
  width: 72px;
  border-radius: 6px;
  -webkit-transition: height .4s .1s, width  .4s .1s, box-shadow .3s;
  transition: height .4s .1s, width  .4s .1s, box-shadow .3s;
  -webkit-transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
          transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
  background: #ffffff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
  pointer-events: auto;
}
.sr-cart sr-header, .sr-cart sr-footer {
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
}
.sr-cart sr-header, .sr-cart .sr-body {
    font-size: 1.2rem;

  opacity: 0;
}
.sr-cart sr-header {
  top: 0;
  border-radius: 6px 6px 0 0;
  padding: 0 1.4em;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  -webkit-transition: opacity .2s 0s;
  transition: opacity .2s 0s;
  border-bottom: 1px solid #e6e6e6;
}
.sr-cart sr-header::after {
  font-size: 1.2rem;
  clear: both;
  content: "";
  display: block;
}
.sr-cart sr-footer {
  font-size: 32.5% !important;
  bottom: 0;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.15);
  background: #ffffff;
}
.sr-cart h2 {
  font-size: 62.5% !important;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: .1em;
}
.sr-cart .undo {
  float: right;
  font-size: 1.2rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s, visibility .2s;
  transition: opacity .2s, visibility .2s;
  color: #808b97;
}
.sr-cart .undo a {
  text-decoration: underline;
  color: #2b3e51;
}
.sr-cart .undo a:hover {
  color: #2c97de;
}
.sr-cart .undo.visible {
  opacity: 1;
  visibility: visible;
}
.sr-cart .sr-checkout {
  display: block;
  height: 72px;
  line-height: 72px;
  margin-right: 72px;
  background: #2c97de;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  -webkit-transition: all .2s 0s;
  transition: all .2s 0s;
}
.sr-cart .sr-checkout:hover {
  background: #399ee0;
}
.sr-cart .sr-checkout em {
  font-size: 62.5% !important;
  position: relative;
  display: inline-block;
  -webkit-transform: translateX(40px);
      -ms-transform: translateX(40px);
          transform: translateX(40px);
  -webkit-transition: -webkit-transform 0s .2s;
  transition: -webkit-transform 0s .2s;
  transition: transform 0s .2s;
  transition: transform 0s .2s, -webkit-transform 0s .2s;
}
.sr-cart .sr-checkout em::after {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  content: '';
  height: 24px;
  width: 24px;
  background: url(../img/sr-icon-arrow-next.svg) no-repeat center center;
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}
.sr-cart .sr-body {
  position: relative;
  z-index: 1;
  height: calc(100% - 40px);
  padding: 20px 0 10px;
  margin: 40px 0 10px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}
.sr-cart .sr-body ul {
  overflow: hidden;
  padding: 0 1.4em;
  position: relative;
  padding-bottom: 90px;
}
.sr-cart .sr-body li {
  position: relative;
  opacity: 0;
  -webkit-transform: translateX(80px);
      -ms-transform: translateX(80px);
          transform: translateX(80px);
  -webkit-transition: opacity 0s .2s, -webkit-transform 0s .2s;
  transition: opacity 0s .2s, -webkit-transform 0s .2s;
  transition: opacity 0s .2s, transform 0s .2s;
  transition: opacity 0s .2s, transform 0s .2s, -webkit-transform 0s .2s;
}
.sr-cart .sr-body li::after {
  clear: both;
  content: "";
  display: block;
}
.sr-cart .sr-body li:not(:last-of-type) {
  margin-bottom: 20px;
}
.sr-cart .sr-body li.deleted {
  /* this class is added to an item when it is removed form the cart */
  position: absolute;
  left: 1.4em;
  width: calc(100% - 2.8em);
  opacity: 0;
  -webkit-animation: sr-item-slide-out .3s forwards;
          animation: sr-item-slide-out .3s forwards;
}
.sr-cart .sr-body li.deleted.undo-deleted {
  /* used to reinsert an item deleted from the cart when user clicks 'Undo' */
  -webkit-animation: sr-item-slide-in .3s forwards;
          animation: sr-item-slide-in .3s forwards;
}
.sr-cart .sr-body li.deleted + li {
  -webkit-animation: sr-item-move-up-mobile .3s;
          animation: sr-item-move-up-mobile .3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.sr-cart .sr-body li.undo-deleted + li {
  -webkit-animation: sr-item-move-down-mobile .3s;
          animation: sr-item-move-down-mobile .3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.sr-cart .sr-product-image {
  display: inline-block;
  float: left;
  /* the image height determines the height of the list item - in this case height = width */
  width: 50px;
}
.sr-cart .sr-product-image img {
  display: block;
}
.sr-cart .sr-product-details {
  position: relative;
  display: inline-block;
  float: right;
  width: calc( 100% - 50px);
  padding: 0.3em 0 0 0.5em;
}
.sr-cart .sr-product-details::after {
  clear: both;
  content: "";
  display: block;
}
.sr-cart h3, .sr-cart .sr-price {

  font-weight: bold;
}
.sr-cart h3 {
  width: 70%;
  float: left;
  /* truncate title with dots if too long */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sr-cart h3 a {
  color: #2b3e51;
}
.sr-cart h3 a:hover {
  color: #2c97de;
}
.sr-cart .sr-price {
  float: right;
  width: 30%;
  text-align: right;
}
.sr-cart .sr-actions {
  height: 1.6em;
  line-height: 1.6em;
}

.sr-cart .sr-actions::after {
  clear: both;
  content: "";
  display: block;
}
.sr-cart .sr-customerdetails {
  line-height: 1.6em;
}
.sr-cart .sr-delete-item, .sr-cart .sr-quantity {
  float: left;
  color: #808b97;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.sr-cart .sr-delete-item {
  margin-right: 1em;
}
.sr-cart .sr-delete-item:hover {
  color: #e94b35;
}


.cart-open .sr-cart .sr-wrapper {
  height: 100%;
  width: 100%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.cart-open .sr-cart sr-header, .cart-open .sr-cart .sr-body {
  opacity: 1;
}
.cart-open .sr-cart sr-header {
  -webkit-transition: opacity .2s .2s;
  transition: opacity .2s .2s;
}
.cart-open .sr-cart .sr-body {
  -webkit-transition: opacity 0s;
  transition: opacity 0s;
}
.cart-open .sr-cart .sr-body li {
  -webkit-transition: opacity .3s .2s, -webkit-transform .3s .2s;
  transition: opacity .3s .2s, -webkit-transform .3s .2s;
  transition: transform .3s .2s, opacity .3s .2s;
  transition: transform .3s .2s, opacity .3s .2s, -webkit-transform .3s .2s;
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.cart-open .sr-cart .sr-body li:nth-of-type(2) {
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}
.cart-open .sr-cart .sr-body li:nth-of-type(3) {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}
.cart-open .sr-cart .sr-body li:nth-of-type(4), .cart-open .sr-cart .sr-body li:nth-of-type(5) {
  -webkit-transition-duration: .55s;
          transition-duration: .55s;
}
.cart-open .sr-cart .sr-checkout {
  color: #ffffff;
  -webkit-transition: color .2s .3s;
  transition: color .2s .3s;
}
.cart-open .sr-cart .sr-checkout em {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: padding .2s 0s, -webkit-transform .2s .3s;
  transition: padding .2s 0s, -webkit-transform .2s .3s;
  transition: transform .2s .3s, padding .2s 0s;
  transition: transform .2s .3s, padding .2s 0s, -webkit-transform .2s .3s;
}
.cart-open .sr-cart .sr-checkout:hover em {
  padding-right: 30px;
}
.cart-open .sr-cart .sr-checkout:hover em::after {
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .sr-cart .sr-body li:not(:last-of-type) {
    margin-bottom: 14px;
  }
  .sr-cart .sr-body li.deleted + li {
    -webkit-animation: sr-item-move-up .3s;
            animation: sr-item-move-up .3s;
  }
  .sr-cart .sr-body li.undo-deleted + li {
    -webkit-animation: sr-item-move-down .3s;
            animation: sr-item-move-down .3s;
  }
  .sr-cart .sr-checkout {
    font-size: 2.4rem;
  }
  .sr-cart .sr-product-image {
    padding-right: 10px;
    width: 90px;
  }
  .sr-cart .sr-product-details {
    padding: 1.4em 0 0 1em;
    width: calc( 100% - 90px);
  }
  .sr-cart h3, .sr-cart {
    font-size: 1.8rem;
  }
}

.sr-paid  {
  text-align: center;
}

.sr-cart .sr-back  {
    font-size: 62.5% !important;
    letter-spacing: .1em
}

#sr-paymentmethods  {
  text-align: center;
}

#sr-bitcoinaddresswrapper  {
  text-align: center;
}
#sr-bitcoinaddresswrapper img {
  width: 45%;
}

#sr-customerdetailswrapper  {
  overflow: hidden;
  padding: 0 1.4em;
  position: relative;
  padding-bottom: 90px;
}


.sr-bitcoinoptions a {
  display: block;
  margin-bottom: 10px;
}

.sr-bitcoinaddress {
  border-bottom: 1px dashed gray;
  cursor: pointer;
}

.sr-bitcoinoptions {
  padding-top: 10px;
  padding-bottom: : 10px;
}
